<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>S3 업로드 예제</title>
</head>

<body>
    <form action="/image" method="post" enctype="multipart/form-data">
        <input type="file" name="imgFile">
        <input type="submit" value="S3에 보내기">
    </form>
</body>

</html>